<div class="modal-body">
  <div class="col-lg-12">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= article.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= article.description %>
    </p>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-lg close-model" data-dismiss="modal">Close</button>
</div>